<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <style>
        button-grp{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        button{
            width: 100px;
            min-height: 30px;
            background-color: yellow;
        }
    </style>
        {{> generalcss}}
</head>
<body>
    {{>navbar}}

    <h1>Wecome to the Admin page</h1>
    <div class="button-grp">
        <a href="/admin/product/all">
            <button>VIEW PRODUCTS</button>
        </a>  

        <a href="/admin/product/add">
            <button>ADD NEW PRODUCTS</button>
        </a>      
    </div>
</body>
</html>